.imageUpload{
  /* background-color: rgb(243, 243, 243);  */
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  /* width: 40vw; */
  width: 100%;
  min-width: 360px;
  /* margin: auto; */
  margin: 2vh 0;
  border-bottom: 1px solid rgb(212, 212, 212);
  /* padding-left: 0.5rem;  */
  /* padding-top: 0.5rem; */
  margin-bottom: 3rem;
  margin-top: 1rem;
}

.imageUpload__progressbar{
  width: 100%;
}

.imageUpload>h4{
  color: gray;
}

.imageUpload__captionInput{
  margin-top: 0.2rem;
  /* padding: ; */
}