*{
  margin: 0;
}

.App {
  /* background-color: aliceblue; */
  width: 50vw;
  min-width: 360px;
  margin: auto;
}




/* ------------------------HEADER------ */

.app__header{
  /* background-color: aliceblue; */
  /* height: 10vh; */

  padding: 0.35rem;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

.app__header__logo{
  object-fit: contain;
  height: 7vh;
  min-height: 30px;

  /* padding: 0.35rem; */
}


/* .imageUpload__fileInput > Button{
  border: 1px solid black !important;
} */


.app__head__user{
  display: flex;
  justify-content: center;
}

.app__head__userAvatar{
  background-color: rgb(187, 187, 255);
  color: black;
  margin-right: 0.5rem;
  padding: 0 0.7rem;
  border: 1px solid blue;
  border-radius: 100rem;
}


/* -------------------- */

.app__signupModal{
  display: flex;
  flex-direction: column;
}